### Proj 07. Implementation of Linear Regression

In [61]:
import pandas as pd

In [62]:
data=pd.read_csv(r"E:\Python Notes\Ref\USA_Housing.csv")

In [63]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [65]:
data.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
price                           0
Address                         0
dtype: int64

In [84]:
x=data.iloc[:,0:4]
x

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms
0,79545.45857,5.682861,7.009188,4.09
1,79248.64245,6.002900,6.730821,3.09
2,61287.06718,5.865890,8.512727,5.13
3,63345.24005,7.188236,5.586729,3.26
4,59982.19723,5.040555,7.839388,4.23
...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46
4996,78491.27543,6.999135,6.576763,4.02
4997,63390.68689,7.250591,4.805081,2.13
4998,68001.33124,5.534388,7.130144,5.44
4999,65510.58180,5.992305,6.792336,4.07

In [85]:
x1=data.iloc[:,0:5]
x1

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [86]:
x=data[["Avg. Area Income","Avg. Area House Age","Avg. Area Number of Rooms","Avg. Area Number of Bedrooms","Area Population"]]
x

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [87]:
y=data["price"]
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: price, Length: 5000, dtype: float64

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [90]:
x_train.shape

(4000, 5)

In [91]:
x_test.shape

(1000, 5)

In [92]:
from sklearn.linear_model import LinearRegression

In [94]:
lr=LinearRegression()

In [95]:
lr.fit(x_train,y_train)

LinearRegression()

In [96]:
y_pred=lr.predict(x_test)

In [97]:
from sklearn import metrics

In [98]:
MSE=metrics.mean_squared_error(y_test,y_pred)
MSE

10074785209.1666

In [99]:
R2=metrics.r2_score(y_test,y_pred)
R2

0.9197421958338474

In [100]:
lr.intercept_

-2627104.6624372555

In [101]:
lr.coef_

array([2.15815476e+01, 1.65387561e+05, 1.19480881e+05, 1.26155975e+03,
       1.52330337e+01])

In [102]:
lr.predict([[85000,9,10,6,32085]])

array([2386944.9821799])