### Proj 01 a. Python program to design a Simple Calculator

In [1]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
print("Select the operation: \nType a for Addition \nType s for Subtraction \nType m for Multiplication \nType d for Division")
choice=input("Enter the operation (a/s/m/d): ")
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
if choice=="a":
    print(a,"+",b,"=",add(a,b))
elif choice=="s":
    print(a,"-",b,"=",sub(a,b))
elif choice=="m":
    print(a,"*",b,"=",mul(a,b))
elif choice=="d":
    print(a,"/",b,"=",div(a,b))
else:
    print("Enter a valid choice")

Select the operation:
Type a for Addition
Type s for Subtraction
Type m for Multiplication
Type d for Division
Enter the operation (a/s/m/d): a
Enter the first number: 2
Enter the second number: 3
2 + 3 = 5

### Proj 01 b. Python program to find the factorial of a  number

In [9]:
## Using function:

In [12]:
def factorial(x):
    fact = 1
    if x==0:
        print("Factorial of 0 is 1")
    elif x<0:
        print("Factorial doesn't exist for negative number")
    else:
        for i in range (1,x+1):
            fact=fact*i
        print("Factorial of",x,"is", fact)

In [13]:
factorial(5)

Factorial of 5 is 120

In [9]:
## Without function:

In [2]:
a=int(input("Enter a number: "))
fact = 1
if a==0:
    print("Factorial of 0 is 1")
elif a<0:
    print("Factorial doesn't exist for negative number")
else:
    for i in range (1,a+1):
        fact=fact*i
    print("Factorial of",a,"is", fact)

Enter a number: 4
Factorial of 4 is 24

### Proj 02. Python program to demonstrate the methods of a dictionary.

#### 1. Create a dictionary named “student”.
#### 2. Add the following details to the dictionary “student”.
#### Name
#### Age
#### Department
#### 3. Add a new key named “Marks” to the dictionary “student”. Enter 5 values.
#### 4. Update the key value of “Age”.
#### 5. Delete ‘Age’ from the dictionary “student”.
#### 6. Print the keys of the dictionary “student”.
#### 7. Print the values of the dictionary “student”.
#### 8. Print the key value pairs of the dictionary “student”.
#### 9. Delete the dictionary “student”.

In [20]:
## 1. Create a dictionary named “student”.

student={}
student

{}

In [21]:
## 2. Add the following details to the dictionary “student”.
##Name
## Age
## Department

student={"Name":"Priyanka","Age":23,"Department":"EIE"}
student

{'Name': 'Priyanka', 'Age': 23, 'Department': 'EIE'}

In [22]:
## 3. Add a new key named “Marks” to the dictionary “student”. Enter 5 values.

student["Marks"]=97,92,88,93,75
student

{'Name': 'Priyanka',
 'Age': 23,
 'Department': 'EIE',
 'Marks': (97, 92, 88, 93, 75)}

In [23]:
## 4. Update the key value of “Age”.

student["Age"]=20
student

{'Name': 'Priyanka',
 'Age': 20,
 'Department': 'EIE',
 'Marks': (97, 92, 88, 93, 75)}

In [24]:
## 5. Delete ‘Age’ from the dictionary “student”.

del student["Age"]
student

{'Name': 'Priyanka', 'Department': 'EIE', 'Marks': (97, 92, 88, 93, 75)}

In [25]:
## 6. Print the keys of the dictionary “student”.

for x in student:
    print(x)

Name
Department
Marks

In [26]:
## 7. Print the values of the dictionary “student”.

for x in student:
    print(student[x])

Priyanka
EIE
(97, 92, 88, 93, 75)

In [27]:
## 7. Print the values of the dictionary “student”. (second method)

for x in student.values():
    print(x)

Priyanka
EIE
(97, 92, 88, 93, 75)

In [28]:
## 8. Print the key value pairs of the dictionary “student”.

for x in student.items():
    print(x)

('Name', 'Priyanka')
('Department', 'EIE')
('Marks', (97, 92, 88, 93, 75))

In [29]:
## 9. Delete the dictionary “student”.

del student
student

NameError: name 'student' is not defined